@media screen  and ( max-width :600px)

{

  .header{
    width: 600px;
  }
    .header-section{
       
       /* flex-direction: column; */
       align-items: center;
       width: 600px;
       display: flex;
       margin: 0 auto;
       /* z-index: 100; */
       
       justify-content: space-between;
    }
    .header-section{
      width: 100%;
      margin: 0 auto;
      display: flex;
  }

    .nav-container{
        font-size: 30px;
    width: 600px;
  margin: 0 auto;
padding-left: 60px;}

     .nav-container img{
            width: 40px;
            object-fit: cover;
            padding: 0 auto ;
          }

   .items-container{
     width: 50%;
     margin: 0 5px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 15px;
     font-size: 15px;
      
   }
    /* flex-direction: column; */
    
    .banner-img{
      width: 540px;
      /* max-width: 540px; */
     align-items: center;
     margin: 0 auto;
     padding-right: 20px;
     padding-left: 0;
    
   }
   .banner-text h3{
    width: 300px;
    display: flex;
    font-size: 22px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 100px;
    margin: 0 auto;
    align-items: center;
    /* justify-content: center; */

   }
}