  
/* nav bar styles start here */


.header{
  background-color:  #FFF;;
 
}

.nav-container{
    min-height: 35px;
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
    width: 50%;
    background-repeat: no-repeat;
}
.nav-container img{
    width: 48px;
    object-fit: cover;
    padding-right: 10px;}   

.nav-container{
    font-size: 36px;
}
.special{
    color: #FF5400;
}

.header-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.items-container{
    /* border: 2px solid red; */
    width: 50%;
    
    display: flex ;
    justify-content: space-around ;
    align-items: center;
    font-size: 30px;
    
}
.items-container a{
    text-decoration: none;
     color: var(--Dark-02, #424247);
 
}

.items-container  .home-button a{   
    color: #FF5400;
}


 /* nav bar styles end here */

 /* banner style starts here */

.banner-container{
    position: relative;
}
 .banner-container img
 { 
   max-width: 1200px;
   height: auto;
   /* border: 2px solid green; */
   margin: 0 auto;
   padding-left: 60px;
 }

 .banner-text
 {
   position: absolute;
   top: 25%;
   color: #FFF;
   padding: 0px 220px;
}
 .banner-text h3{
   font-size: 60px;
   text-transform: uppercase;
   font-weight: bold;
   margin: 0;
   padding: 0 60px;
   text-align: center;
   /* margin-bottom: 30px 70px;
   margin-left: 90px;
   margin-right: 10px; */
   

 } 